.header {
    &-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 30px;
        font-family: 'LatoBlack';
        font-size: 22px;
        letter-spacing: 3px;
        transition: 0.3s all 0s ease;

        @media screen and (max-width: 480px) {
            justify-content: center;
            padding-bottom: 0;

            & > a {
                width: 100%;
                text-align: center;
            }

            &__resume {
                font-size: 15px;
                margin: 10px 0;
            }
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 30px;
        letter-spacing: 1px;

        @media screen and (max-width: 480px) {
            padding-top: 10px;
        }
    }

    &-body {
        text-align: center;

        @media screen and (max-width: 480px) {
            margin: 10px 0;
        }

        &__intro {
            font-size: 40px;
        }

        &__dsgn {
            font-size: 30px;
            opacity: .5;
        }

        &__tech {
            font-size: 20px;
            opacity: .3;
        }
    }

    &-profile {
        &-image {
            float: right;
            vertical-align: middle;
            border-radius: 50%;
        }
    }
}
